<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.memory.xzp.mapper.SimilarPictureMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.memory.xzp.model.entity.SimilarPicture">
        <id column="id" property="id" />
        <result column="similar_id" property="similarId" />
        <result column="file_id" property="fileId" />
        <result column="create_time" property="createTime" />
        <result column="user_id" property="userId" />
    </resultMap>

</mapper>
